<nav class="tab-navigation">
  <button
    *ngFor="let tab of tabs()"
    type="button"
    class="tab-navigation__item"
    [class.tab-navigation__item--active]="tab.id === activeTabId()"
    (click)="onTabClick(tab.id)"
  >
    <span class="tab-navigation__icon">
      <ng-container>
        @switch (tab.id) {
          @case ("today") {
            <ion-icon src="assets/icon/today.svg" />
          }
          @case ("calendar") {
            <ion-icon src="assets/icon/calendar.svg" />
          }
          @case ("profile") {
            <ion-icon src="assets/icon/profile.svg" />
          }
        }
        <!-- Aujourd'hui : maison -->

        <!-- Calendrier -->

        <!-- Profil : personne dans un cercle -->
      </ng-container>
    </span>

    <span class="tab-navigation__label">{{ tab.label }}</span>
  </button>
</nav>
