:host {
  display: block;
  height: 100%;
}

.main-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #FBFAF5;

  &__content {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }
}
