<ion-content>
  <div class="content">
    <app-page-header
      eyebrow="Vos goûts"
      title="Que laissez-vous au bord de l’assiette ?"
      description="Sélectionnez les accompagnements que vous ne voulez jamais voir proposés."
    />
    <div class="food-content">
      @for (item of sideDish; track $index) {
        <app-option-card
          [emoji]="item.emojy"
          [label]="item.name"
          [nutrition]="'proteine'"
        ></app-option-card>
      }
    </div></div
></ion-content>
