<ion-content>
  <div class="content">
    <app-page-header
      eyebrow="Bonjour Camille"
      title="Votre assiette du jour"
      date="26 août"
    ></app-page-header>
    <app-dish-of-day-card
      country="Madagascar"
      category="Porc & feuilles de manioc pilées"
      dishName="Ravitoto sy henakisoa"
      description="Un grand classique malgache : du porc mijoté lentement avec des feuilles de manioc finement pilées, de l’ail et des aromates."
      [ingredients]="['Porc', 'Feuilles de manioc pilées', 'Ail']"
      [nutrition]="nutrition"
    ></app-dish-of-day-card>
    <app-info-card
      title="Pourquoi ce duo ?"
      text="Ravitoto sy henakisoa apporte déjà environ 29 g de protéines et 31 g de lipides par portion. Riz complet aux herbes complète le plat avec 3.5 g de fibres. Comme le porc couvre bien les protéines et les feuilles apportent fibres, fer et provitamine A, un féculent simple en portion mesurée équilibre l’énergie du repas. Le duo vise une assiette variée sans ajouter inutilement protéines ou matières grasses."
    ></app-info-card>
  </div>
</ion-content>
