<div class="item">
  <span class="item__icon" [style.background]="iconBg()">
    {{ emoji() }}
  </span>

  <div class="item__text">
    <span class="item__title">{{ title() }}</span>
    <span class="item__subtitle">{{ subtitle() }}</span>
  </div>

  <svg
    class="item__chevron"
    width="18"
    height="18"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <path
      d="M9 5l7 7-7 7"
      stroke="currentColor"
      stroke-width="2.4"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>
